xapi-bladex/src/main/mule/xapi-bladex.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="xapi-bladex-main">
        <http:listener config-ref="xapi-bladex-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="xapi-bladex-config" />
        <error-handler ref="default-error-handler" />
    </flow>
    <flow name="xapi-bladex-console">
        <http:listener config-ref="xapi-bladex-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="xapi-bladex-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "status_code": "404",
  "status": "Failed",
  "message": "Resource not found"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\Ping:xapi-bladex-config">
        <flow-ref doc:name="Ping Process" doc:id="85e2e117-40ce-4dfc-a3de-1375bada8551" name="Ping-process" />
    </flow>
    <flow name="get:\FinancialGateway\(financialgatewayid)\Outbound\(outboundid)\Retrieve:xapi-bladex-config">
        <ee:transform doc:name="Set Variables financial gateway id &amp; outbound id">
            <ee:variables>
                <ee:set-variable variableName="financialgatewayid">attributes.uriParams.'financialgatewayid'</ee:set-variable>
                <ee:set-variable variableName="outboundid">attributes.uriParams.'outboundid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" doc:name="PAPI Retrieve" doc:id="da016994-3b45-42aa-9e62-6f2e85738049" config-ref="HTTP_Request_configuration" path="#[&quot;/FinancialGateway/&quot; ++ vars.financialgatewayid ++ &quot;/Outbound/&quot; ++ vars.outboundid ++ &quot;/Retrieve&quot;]">
            <http:body><![CDATA[#[%dw 2.0
output application/json
---
payload]]]></http:body>
            <http:headers><![CDATA[#[%dw 2.0
output application/java
---
{
	'client_id': p('papi.bladex.client_id'),
	'client_secret': p('secure::papi.bladex.client_secret'),
	'x-correlation-id': correlationId
}]]]></http:headers>
        </http:request>
		<logger level="INFO" doc:name="Retrieve completed!" doc:id="875f3069-7d0e-4037-8392-39c8027e79b7" message="Retrieve completed!"/>
		<error-handler ref="common-error-handler" />
    </flow>
    <flow name="post:\FinancialGateway\(financialgatewayid)\Outbound\Initiate:application\json:xapi-bladex-config">
        <ee:transform doc:name="Set Variables financial gateway id">
            <ee:variables>
                <ee:set-variable variableName="financialgatewayid">attributes.uriParams.'financialgatewayid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="POST" doc:name="PAPI Initiate" doc:id="12d64148-6f73-4d74-8d5d-ec313928db36" config-ref="HTTP_Request_configuration" path="#[&quot;/FinancialGateway/&quot; ++ vars.financialgatewayid ++ &quot;/Outbound/Initiate&quot;]">
            <http:body><![CDATA[#[%dw 2.0
output application/json
---
payload]]]></http:body>
            <http:headers><![CDATA[#[%dw 2.0
output application/java
---
{
	'client_id': p('papi.bladex.client_id'),
	'client_secret': p('secure::papi.bladex.client_secret'),
	'x-correlation-id': correlationId
}]]]></http:headers>
        </http:request>
		<logger level="INFO" doc:name="Initiate completed!" doc:id="ad73236f-5d2c-46d3-93c3-d33f51c2e2b4" message="Initiate completed!" />
		<error-handler ref="common-error-handler" />
    </flow>
    <flow name="get:\Ready:xapi-bladex-config">
        <flow-ref doc:name="Ready Process" doc:id="195bdbd3-beb9-45b5-ba63-1dd723f26812" name="Ready-process" />
    </flow>
</mule>
