papi-bladex/src/main/mule/papi-bladex.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd">
    <flow name="papi-bladex-main">
        <http:listener config-ref="papi-bladex-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="papi-bladex-config" />
        <error-handler ref="default-error-handler" />
    </flow>
    <flow name="papi-bladex-console">
        <http:listener config-ref="papi-bladex-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="papi-bladex-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "status_code": "404",
  "status": "Failed",
  "message": "Resource not found"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\Ping:papi-bladex-config">
        <flow-ref doc:name="Ping Process" doc:id="cf0b2c59-6207-4e39-86f9-9b28ededff39" name="Ping-process" />
    </flow>
    <flow name="get:\FinancialGateway\(financialgatewayid)\Outbound\(outboundid)\Retrieve:papi-bladex-config">
		<ee:transform doc:name="Set Variables - financialgatewayid &amp; outboundid">
            <ee:variables>
                <ee:set-variable variableName="financialgatewayid">attributes.uriParams.'financialgatewayid'</ee:set-variable>
                <ee:set-variable variableName="outboundid">attributes.uriParams.'outboundid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Retrieve Process" doc:id="b2433faf-292b-4d08-8d22-df3a4cad507f" name="Retrieve-process" />
    </flow>
    <flow name="post:\FinancialGateway\(financialgatewayid)\Outbound\Initiate:application\json:papi-bladex-config">
        <ee:transform doc:name="Set Variable - financialgatewayid">
            <ee:variables>
                <ee:set-variable variableName="financialgatewayid">attributes.uriParams.'financialgatewayid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Initiate Process" doc:id="d76d4187-ad26-42f7-80ed-ba5de59bdf1c" name="Initiate-process" />
		<error-handler ref="common-error-handler" />
    </flow>
    <flow name="get:\Ready:papi-bladex-config">
        <flow-ref doc:name="Ready Process" doc:id="3734a1a9-753e-4e06-b3f3-6295a5cf9f74" name="Ready-process" />
    </flow>
</mule>
