sapi-amazon-aurora/src/main/mule/sapi-amazon-aurora.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <flow name="sapi-amazon-aurora-main">
        <http:listener config-ref="sapi-amazon-aurora-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sapi-amazon-aurora-config" />
        <error-handler ref="default-error-handler" />
    </flow>
    <flow name="sapi-amazon-aurora-console">
        <http:listener config-ref="sapi-amazon-aurora-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sapi-amazon-aurora-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\Ping:sapi-amazon-aurora-config">
        <flow-ref doc:name="Ping Process" doc:id="24a2b642-6552-4597-95bd-6308891196eb" name="Ping-process" />
    </flow>
    <flow name="post:\BulkInsert:application\json:sapi-amazon-aurora-config">
        <ee:transform doc:name="Transform Message1" doc:id="cadd5602-9098-4dc2-9c48-4d8291544ad8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <db:bulk-insert doc:name="Bulk insert" doc:id="ed574334-9914-4cc7-96c6-a9b109b5ddd6" config-ref="Database_Config">
            <db:bulk-input-parameters><![CDATA[#[payload.parameters]]]></db:bulk-input-parameters>
            <db:sql><![CDATA[#[payload.query]]]></db:sql>
        </db:bulk-insert>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\Insert:application\json:sapi-amazon-aurora-config">
        <ee:transform doc:name="Transform Message2" doc:id="2486d979-ac4f-4ed7-91fb-7d638514b965">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <db:insert doc:name="Insert" doc:id="fad3d1fb-4f83-4458-8f94-3d335d50a813" config-ref="Database_Config">
            <db:sql><![CDATA[#[payload.query]]]></db:sql>
            <db:input-parameters><![CDATA[#[payload.parameters]]]></db:input-parameters>
        </db:insert>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Ready:sapi-amazon-aurora-config">
		<flow-ref doc:name="Ready Process" doc:id="8380282f-63e1-4272-b136-8cfb8fc748a3" name="Ready-process" />
    </flow>
</mule>
