sapi-amazon-aurora/src/main/mule/sapi-amazon-aurora.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <flow name="sapi-amazon-aurora-main">
        <http:listener config-ref="sapi-amazon-aurora-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sapi-amazon-aurora-config" />
        <error-handler ref="default-error-handler" />
    </flow>
    <flow name="sapi-amazon-aurora-console">
        <http:listener config-ref="sapi-amazon-aurora-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sapi-amazon-aurora-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\Ping:sapi-amazon-aurora-config">
        <flow-ref doc:name="Ping Process" doc:id="24a2b642-6552-4597-95bd-6308891196eb" name="Ping-process" />
    </flow>
    <flow name="post:\BulkInsert:application\json:sapi-amazon-aurora-config">
		<flow-ref doc:name="Bulk Insert" doc:id="1527b6e7-4a53-462f-8ebf-3fdd5e19f332" name="bulk-insert" />
    </flow>
    <flow name="post:\Insert:application\json:sapi-amazon-aurora-config">
		<flow-ref doc:name="Insert" doc:id="07ae5724-aa2b-4e08-91f5-f4937d41bfa3" name="insert" />
    </flow>
    <flow name="get:\Ready:sapi-amazon-aurora-config">
		<flow-ref doc:name="Ready Process" doc:id="8380282f-63e1-4272-b136-8cfb8fc748a3" name="Ready-process" />
    </flow>
</mule>
